.form {
  background-color:var(--smarty-pink);
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
                    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
  background-size:1em 1em;
  background-position:0 0, 0.2em 0.2em;
}
