:root {
  --smarty-steel-blue: rgb(63, 135, 166);
  --smarty-dark-blue: darkblue;
  --smarty-orange: rgb(229, 114, 42);
  --smarty-pink: rgb(236, 84, 153);
  --smarty-washed-blue: rgb(221, 238, 255);
  --smarty-purple: rgb(131, 101, 246);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gabriola', 'Courier New', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(to right, var(--smarty-purple), var(--smarty-pink));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.smarty-w-90vw {
  width: 90vw;
  max-width: 600px;
}

.smarty-w-80vw {
  width: 80vw;
  max-width: 500px;
}

@media screen and (min-width: 1200px) {  
  .smarty-w-60vw-l {
    width: 60vw;
    max-width: 600px;
  }

  .smarty-w-50vw-l {
    width: 50vw;
    max-width: 500px;
  }
}